.hide {
  display: none;
  transition: opacity 0.5s ease-in-out;
}

.show {
  display: block;
  opacity: 1;
}

#contact-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.contact-form {
    background-color: #FF00D6;
    box-shadow: 0 0 10px 4px rgb(247, 245, 245);
}

.title {
    padding: 1.5rem;
    border-bottom:#F8FB04 solid 2px;
    margin-bottom: 1.2rem;
    position: relative;
}

.close-button {
    background-color: transparent;
    border: 2px solid #F8FB04;
    cursor: pointer;
    padding: 0.5rem 0.8rem;
    position: absolute;
    right: 0.8rem;
    top: 1.0rem;
  }
  
  .close-icon {
    font-size: 24px;
    line-height: 1;
    color: #F8FB04;
  }  

.body input, .body textarea {
    display: block;
    margin: 0 auto 1rem;
    padding: 0.5rem;
    border: none;
}

.body textarea {
    width: 20rem;
    height: 15rem;
}

.body button {
    display: block;
    margin: 0 auto 1rem;
    color: #FF00D6;
    background-color: #F8FB04;
}

.body p {
    padding: 2rem;
}

.body a {
    color: #04fdff
}
